@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lato:wght@300&family=Rubik&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav_container {
  background-color: #ff8000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sideBar {
  position: absolute;
  left: 0;
  z-index: 100;
}
.search {
  width: 32%;
}
.containerIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 5px;
  width: 15%;
  height: auto;
}
.icons {
  background-color: transparent;
  border: 0;
  position: relative;
}
.icons i {
  font-size: 30px;
  padding: 5px;
  border-radius: 50px;
  border-right: 1px solid #0000003a;
  border-bottom: 1px solid #0000003a;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
}
.icons i:hover {
  color: orange;
  background-color: rgb(243, 239, 239);
  box-shadow: 0px 4px 5px 0px rgb(33, 32, 32);
  outline: 1px solid #0000003a;
}
.logoMMarket{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11%;
  position: absolute;
  z-index: 500;
  left: 25px;
  /* background-color: blue; */
}
.imageLogo{
  width: 80%;
}
.NumberInCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 238, 238);
  border-bottom: 1px solid #0000003a;
  border-left: 1px solid #0000003a;
  border-radius: 50%;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 5px;
  height: 5px;
}
.menu_bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: white;
}

.nav_menu {
  background-color: #ff8000;
  min-width: 250px; /* Establece un ancho mínimo */
  max-width: 350px; /* Establece un ancho máximo */
  height: 100vh;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav_menu.active {
  left: 0;
  transition: 350ms;
}


.sidebar_text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 50px;
  width: 100%;
}

/* .sidebar_text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.sidebar_text a:hover {
    background-color: #47c7fc;
} */

.nav_menu_items {
  width: 110%;
  overflow-y: scroll;
}

.nav_menu_items::-webkit-scrollbar {
  width: 8px;
}

.navbar_toggle {
  background-color: #ff8000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* .nav_form_button {
    
} */

.nav_f_button {
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.sidebar_button {
  text-decoration: none;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 8px 16px; /* Agrega relleno para crear espacio alrededor del texto */
  border: none;
  background: none;
  border-radius: 5px;
  font-family: "Poppins";
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para el texto desbordado */
  transition: background-color 0.3s;
}

.sidebar_button:hover {
  background-color: #47c7fc;
  cursor: pointer;
}


/* ------ CART ------ */
.cart_menu {
  background-color: #ff8000;
  width: 450px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  overflow-y: scroll;
  z-index: 200;
}

.cart_menu::-webkit-scrollbar {
  width: 8px;
}

.cart_menu.active {
  right: 0;
  transition: 350ms;
}

.cart_menu_close {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 200;
}
.iconAbout{
  
  background-color: #ff8000;
}
.custom-icon {
  margin-top: 10px; 
   margin-right: 20px;
  margin-left: 86%;
  padding: 2px 8px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
    border-color: #47C7FC;
  }

  .icon-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 1px; 
  }
}
.custom-icon::after {
  content: "Acerca de Nosotros";
  display: none;
  position: absolute;
  bottom: -25px;
  left: 0;
  transform: translateX(-50%);
  background-color:  #333;
  color: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  white-space: nowrap;
  font-family:  'Poppins', sans-serif;
  font-size: 12px;
}

.custom-icon:hover::after {
  display: block;
}


.user-button-container {
  position: relative;
}


.user-section {
  display: flex;
  align-items: center;
}

.username-message {
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  top: 7px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #333;
  color: #fff;
  padding: 7px 12px;
  border-radius: 5px;

}

@media (max-width: 768px) {
  .user-section {
    display: block;
    text-align: center; 
  }

  .username-message {
    position: static; /* Volver a la posición estática */
    transform: none; /* Anular la transformación */
    margin-top: 5px; /* Espaciado superior */
    background-color: transparent;
    color: #333;
    padding: 0;
    border-radius: 0;
    font-size: 14px;
  }
}