@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lato:wght@300&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_container {
    background-color: #ff8000;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu_bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: white;
}

.nav_menu {
    background-color: #ff8000;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav_menu.active {
    left: 0;
    transition: 350ms;
}

.sidebar_text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

/* .sidebar_text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.sidebar_text a:hover {
    background-color: #47c7fc;
} */

.nav_menu_items {
    width: 100%;
}

.navbar_toggle {
    background-color: #ff8000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.nav_form_button {
    padding-left: 10rem;
}

.nav_f_button {
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    font-family: 'Poppins';
}

.sidebar_button {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border: none; 
    background: none; 
    border-radius: 5px;
    font-family: 'Poppins';
}

.sidebar_button:hover {
    background-color: #47c7fc;
    cursor: pointer;
}
