@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lato:wght@300&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_container {
    background-color: #ff8000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    justify-content: center;
    align-items: center;
}
.sideBar{
    position: absolute;
    left: 0;
    z-index: 100;
}
.search{
    width: 32%;
}
.containerIcons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 5px;
    width: 15%;
    height: auto;
}
.icons{
    background-color: transparent;
    border: 0;
}
.icons i{
    font-size: 30px;
    padding: 5px;
    border-radius: 50px;
    border-right: 1px solid #0000003a;
    border-bottom: 1px solid #0000003a;
    transition: background-color .5s, box-shadow .5s, color .5s;
}
.icons i:hover{
    color: orange;
    background-color: rgb(243, 239, 239);
    box-shadow: 0px 4px 5px 0px rgb(33, 32, 32);
    outline: 1px solid #0000003a;
}
.menu_bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: white;
}

.nav_menu {
    background-color: #ff8000;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav_menu.active {
    left: 0;
    transition: 350ms;
}

.sidebar_text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

/* .sidebar_text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.sidebar_text a:hover {
    background-color: #47c7fc;
} */

.nav_menu_items {
    width: 100%;
    overflow-y: scroll;
}

.nav_menu_items::-webkit-scrollbar {
    width: 8px;
}

.navbar_toggle {
    background-color: #ff8000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

/* .nav_form_button {
    
} */

.nav_f_button {
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

.sidebar_button {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border: none; 
    background: none; 
    border-radius: 5px;
    font-family: 'Poppins';
}

.sidebar_button:hover {
    background-color: #47c7fc;
    cursor: pointer;
}
