.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:  'Poppins', sans-serif;
}
.containerImageEmptyUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    height: 90vh;
    position: relative;
    margin-top: 80px;
    /* background-color: red; */
  }
  .imageEmptyUser{
    width: 30%;
  }
  .noUserText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: purple; */
    font-size: 25px;
    margin: 50px 0;
  }