.updateInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    /* background-color: rebeccapurple; */
    position: relative;
  }
  .titleSection {
    width: 85%;
    font-size: 50px;
    position: relative;
    /* background-color: rebeccapurple; */
  }
  .user{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    max-width: 20%;
    position: absolute;
    top: 3%;
    right: 10%;
    /* background-color: red; */
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.227);
  }
  .userNL{
    max-width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
   /* background-color: blue; */
  }
  .textUser{
    margin: 0 5px;
    color: rgb(170, 169, 169);
    font-size: 12px;
  }
  .containerPurchase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    /* height: 50vh; */
    background-color: #ff8000;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.227);
    position: relative;
    box-shadow: 0px 5px 15px 0px rgb(34, 33, 33);
  
  }
  .containerFecha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 10%;
    background-color: #ff8811;
    top: -15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.227);
  }
  .fecha {
    /* background-color: purple */
    font-size: 12px;
    margin: 0;
  }
  .viewPurchase {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .containerNames {
    display: flex;
    flex-direction: column;
    width: 85%;
    /* background-color: rgb(53, 53, 227); */
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.227);
    border-radius: 10px 0 0 10px;
  }
  .nameProds {
    /* border-radius: 10px; */
    background-color: #ffffff;
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.227);
    font-size: 15px;
  }
  .totalPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15%;
    height: auto;
    border-radius: 0 10px 10px 0;
    background-color: #ff8000;
    border: 1px solid rgba(0, 0, 0, 0.227);
    margin: 0;
    font-size: 12px;
  }
  /* imgen empty -----------------------*/
  .containerImageEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin-top: 150px;
    /* height: 7}3vh; */
    position: relative;
    /* background-color: red; */
  }
  .imageEmpty {
    width: 80%;
    /* background-color: blue; */
  }
  .noPurchaseText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: purple; */
    font-size: 23px;
    margin-top: 50px;
  }
  