.viewAdminPanel{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    display: flex;
    /* justify-content: end; */
    align-items: end;
    flex-direction: column;
}
.navAdmin{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    height:10vh;
    background-color: #3e3e3f;
}
.btnsActive,
.btnsInactive {
  border: none;
  color: black;
  cursor: pointer;
  padding: 8px;
  margin: 10px;
}
.btnsInactive {
  background-color: #ff8000;
}
.btnsActive {
  background-color: white;
}
.adminInterface{
    width: 100%;
    min-height: 50vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: rgb(176, 62, 62); */
    /* background-color: rgb(255, 255, 255); */
    /* position: relative; */
}