.cartSlide_container {
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
}

.cartSlide_title {
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    padding: 20px 10px; 
    color: white;
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartSlide_allItems {
    color: white;
    padding: 10px;
}

.cartSlide_allItems hr {
    border-width: 5px;
    margin: 10px 0;
    width: 100%;
}

.cartSlide_items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cartSlide_items li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}

.cartSlide_item_image {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.cartSlide_item_name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.cartSlide_item_price {
    color: white;
    font-weight: bold;
}

.cartSlide_item_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
}

.inc_dec {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: flex;
    align-items: center;
    align-content: end;
}
  
.buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.cartSlide_total {
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}


.cartSlide_link {
    text-align: right;
    margin-top: auto; 
}

.button_clear_cart {
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}

.go_to_pay {
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}

.buttons_cart_container {
    background-color: #ff8000;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}

.buttons_cart_container:not(:has(.go_to_pay)) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery_option {
   
    background-color: #47C7FC;
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .delivery_form {
    font-family:  'Poppins', sans-serif;
    background-color: #47C7FC;
    margin-top: 10px;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .delivery_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  .delivery_label {
    
    display: block;
    margin-top: 10px;
    font-family:'Poppins', sans-serif;

  }
  
  .delivery_radio {
    margin-right: 5px;
   
  }

  .delivery_option_label {
    display: flex; /* Cambiar a flex para alinear elementos horizontalmente */
    gap: 5px;  /* Centrar verticalmente */
    margin-bottom: 10px; /* Separación inferior entre labels */
  }
  
  .delivery_option_label input[type="radio"] {
    margin-right: 10px; /* Espaciado derecho entre el radio y el texto */
  }
  
  /* Estilos para los botones */
.button_clear_cart,
.go_to_pay {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el botón Ir a Pago habilitado */
.go_to_pay.enabled {
  background-color: #ffffff;
  
}

/* Estilos para el botón Ir a Pago deshabilitado */
.go_to_pay.disabled {
  background-color: #ff4d07; 
  color: #ffffff;
  cursor: not-allowed;
}
