.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
}

.selectContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 5px;
    font-size: 14px;
    color: #000;
    margin: 0 5px; /* Ajusta el margen entre los selects */
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 15px;
    margin-left: 10px; /* Ajusta el margen izquierdo del botón */
}




