.viewUser {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  /* background-color: #ff0000; */
  position: relative;
  font-family: "Poppins", sans-serif;
}
.returnBack {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.227);
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 0px;
  z-index: 10;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  box-shadow: 0px 5px 5px 0px rgb(32, 31, 31);
  transition: color 0.2s;
}
.returnBack:hover {
  color: #ff8000;
}
.userSections {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 15%;
  min-height: 100vh;
  background-color: #ff8000;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
}
.btnsActive,
.btnsInactive {
  width: 95%;
  /* height: 10vh; */
  border: none;
  color: black;
  cursor: pointer;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px;
}
.btnsInactive {
  background-color: #ff8000;
}
.btnsActive {
  background-color: white;
}
.userInterface {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 85%;
  min-height: 100vh;
  /* background-color: rgb(176, 62, 62); */
  background-color: rgb(255, 255, 255);
}
/*----------------------logo---------------------- */

.logoMMarket{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 500;
  /* background-color: blue; */
}
.imageLogo{
  width: 80%;
}