.viewNotifications{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    /* background-color: rgb(156, 70, 156); */
    user-select: none;
}
.notifications{
    width: 15%;
    height: 70%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    /* margin: 0 10px; */
    border: 1px solid rgba(0, 0, 0, 0.227);
    box-shadow: 0px 5px 10px 0px rgb(32, 31, 31);
}