@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lato:wght@300&family=Rubik&display=swap');

.container_nav_search {
    display: flex;
    align-items: center;
    padding-left: 40rem;
}

.nav_search_input {
    width: 250px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: 'Poppins';
}

.nav_search_button {
    padding-left: 10px;
}
.nav_s_button {
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    font-family: 'Poppins';
}